@media screen and (max-width:1024px) {
    .page{
    padding: 30px 80px 0px;
    }
    .gallery__grid{
        /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
    }
    .gallery__card{
        height: auto;
    }
    .gallery__card .card__img{
        width: 100%;

        overflow: hidden;
    }
}