@media screen and (max-width:320px){
    .page{
        padding: 0;
    }
    .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .avatar__header{
        gap: 20px;
        flex-direction: column;
        align-items: normal;
    }
    .avatar__content{
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 200px;
    }
    .avatar__editable-content{
        flex-direction: column;
        align-items: center;
    }
    .avatar__name{
        font-size: 24px;
    }
    .avatar__button{
        width: 280px;
    }
    .gallery{
        display: flex;
        justify-content: center;
    }
    .gallery__grid{
        width: 288px;
        grid-template-columns: repeat(auto-fit, 288px);
    }
    .gallery__card{
        font-size: 14px;
        /* min-height: 318px; */
    }
    .gallery__card .card__content .card__img{
        max-height: 288px;
        max-width: 288px;
    }
    .card__content{
        max-width: 288px;
    }
    .gallery__card .card__content .card__title{
        display: flex;
        align-items: end;
        font-size: 16px;
        line-height: 16px;
        max-width: 288px;
        width: 0px;
    }
    .gallery__card .card__content .card__like-button{
        height: 18px;
    }
}