@media screen and (max-width:768px){
    .avatar__content{
        width: 200px;
    }
    .avatar__name{
        font-size: 24px;
    }
    .gallery__grid{
        grid-template-columns: repeat(2,1fr);
    }

}
