@media screen and (max-width:700px){
    .page{
        padding: 30px 80px 0px;
    }
    .avatar__content{
        width: 200px;
    }
    .avatar__name{
        font-size: 24px;
    }
    .avatar__button{
        padding: 10px;
    }
    .gallery__grid{
        grid-template-columns: repeat(auto-fit, 250px);
    }
    .card__img{
        height: 370px;
    }
    .card__title{
        box-sizing: border-box;
        max-width: 200px;
        white-space: nowrap;
    }
}
