.avatar{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(33,33,33,0.4);
}
.avatar__header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.avatar__content{
    display: flex;
}
.avatar__editable-content{
    display: flex;
    align-items: end;
    gap: 20px;
}
.avatar__image{
    width: 190px;
    height: 190px;
    border-radius: 10px;
}
.avatar__content{
    max-width: 420px;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.avatar__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 60px;
}
.avatar__name, 
.avatar__profession{
    padding: 0;
    margin: 0;
    color: #212121;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 260px;
}
.avatar__name{
    font-size: 32px;
    line-height: 32px;
}
.avatar__profession{
    font-size: 16px;
    line-height: 16px;
    opacity: 70%;
}
.avatar__edit-button{
    width: 107.34px;
    height: 16px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    color: rgb(33, 33, 33);
    padding: 0;
    cursor: pointer;
    opacity: 70%;
}
.avatar__edit-button:hover{
    opacity:1;
}
.avatar__edit-button .button__text{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.avatar__button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 18px 32px;
    background-color: #212121;
    color: rgba(252, 245, 229, 1);
    cursor: pointer;
    border: none;
}
.avatar__button:hover{
    opacity: 80%;
}
.avatar__button .button__icon{
    color: rgba(252, 245, 229, 1);
}
.avatar__button .button__text{
    padding: 0;
    margin: 0;
}
@media screen and (min-width:1024px) and (max-width:1440px){
    .card__img{
        width: 100%;
        overflow: hidden;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .avatar__content{
        max-width: 200px;
    }
    .avatar__name{
        font-size: 24px;
    }
    .avatar__button{
        padding: 10px;
    }
}
@media screen and (max-width:767px){
    .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .avatar__header{
        min-height: 274px;
        gap: 20px;
        flex-direction: column;
        align-items: normal;
    }
    .avatar__image{
        width: 80px;
        height: 80px;
    }
    .avatar__content{
        min-height: 102px;
        text-align: center;
        align-items: center;
        flex-direction: column;
        max-width: 200px;
    }
    .avatar__editable-content{
        height: 134px;
        flex-direction: column;
        align-items: center;
    }
    .avatar__name{
        font-size: 24px;
    }
    .avatar__button{
        width: 280px;
    }
}