.avatar{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(33,33,33,0.4);
}
.avatar__header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.avatar__content{
    display: flex;
}
.avatar__editable-content{
    display: flex;
    align-items: end;
    gap: 20px;
}
.avatar__image{
    width: 190px;
    height: 190px;
    border-radius: 10px;
}
.avatar__content{
    width: 420px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.avatar__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 420px;
    height: 60px;
}
.avatar__name, 
.avatar__profession{
    padding: 0;
    margin: 0;
    color: #212121;
    font-weight: 500;
}
.avatar__name{
    width: 420px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
}
.avatar__profession{
    width: 97px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    opacity: 70%;
}
.avatar__edit-button{
    width: 107.34px;
    height: 16px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    color: rgb(33, 33, 33);
    padding: 0;
    cursor: pointer;
    opacity: 70%;
}
.avatar__edit-button:hover{
    opacity:1;
}
.avatar__edit-button .button__text{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.avatar__button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 18px 32px;
    background-color: #212121;
    color: rgba(252, 245, 229, 1);
    border: none;
}
.avatar__button:hover{
    opacity: 80%;
}
.avatar__button .button__icon{
    color: rgba(252, 245, 229, 1);
}
.avatar__button .button__text{
    padding: 0;
    margin: 0;
}