.card__content {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.card__img {
  display: block;
  width: 100%;
  max-height: 413px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}
.default {
  opacity: 0.4;
}
.card__like,
.card__trash {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like-img {
  width: 23px;
  height: 20px;
}

.card__trash {
  width: 32px;
  height: 32px;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  top: 16px;
  right: 10px;
  border-radius: 50%;
  background-image: url(../images/trashDefault.svg);
  background-size: cover;
}
.card__like:hover {
  opacity: 1;
}
.card__trash:hover {
  opacity: 1;
  background-color: #ff6565;
}

@media screen and (max-width: 627px) {
  .card__trash {
    left: 248px;
  }
}
