.gallery{
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(33,33,33,0.4);
}
.gallery__grid{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 413px);
    column-gap: 20px;
    row-gap: 40px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}
.gallery__card{
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 413px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
@media screen and (min-width:1440px) {
    .gallery{
        display: flex;
        justify-content: center;
    }
    .gallery__grid{
        grid-template-columns: repeat(auto-fit, 400px);
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (min-width:1024px) and (max-width:1440px){
    .gallery__card{
        justify-content: center;
        height: auto;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .gallery__grid{
        grid-template-columns: repeat(auto-fit, 250px);
    }
}
@media screen and (max-width:767px){
    .gallery{
        display: flex;
        justify-content: center;
    }
    .gallery__grid{
        max-width: 288px;
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 20px;
    }
}