.gallery {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}
.gallery__grid {
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  column-gap: 20px;
  row-gap: 40px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}
.gallery__card {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 318px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 627px) {
  .gallery {
    padding-bottom: 20px;
  }

  .gallery__grid {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
