.header{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    min-height: 46px;
    max-width: 1440px;
    align-items: center;
}
.header__logo{
    width: 94px;
    height: 26px;
}