@media screen and (max-width:375px) {
    .gallery__card .card__img{
        width: 325px;
    }
}
@media screen and (max-width:425px) {
    .page{
        padding: 20px 16px;
    }
    .avatar__header, .avatar__editable-content{
        align-items: center;
    }
    .avatar__header, .avatar__editable-content{
        flex-direction: column;
        justify-content: center;
    }
    .avatar__editable-content, .avatar__description{
        align-items: center;
        text-align: center;
    }
    .avatar__editable-content{
        text-align: center;
        gap: 12px;
    }
    .avatar__content{
        width: 288px;
        height: 100px;
        justify-content: initial;
        gap: 32px;
        align-items: center;
    }
    .avatar__description{
        width: 288px;
        height: 42px;
        gap: 6px;
    }
    .avatar__image{
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }
    .avatar__name{
        width: 288px;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
    }
    .avatar__profession{
        width: 288px;
        height: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
    }
    .avatar__button{
        width: 288px;
    }
    .gallery__grid{
        grid-template-columns: 1fr;
    }
    .gallery__card{
        padding-bottom: 20px;
    }
    .footer{
        padding: 60px 92px;
    }
}
@media screen and (min-width:426px) and (max-width:768px) {
    .avatar__header{
        justify-content: flex-start;
    }
    .avatar__content{
        width: 222px;
    }
    .avatar__description,
    .avatar__name, 
    .avatar__profession{
        width: auto;
    }
    .avatar__name{
        font-size: 19px;
    }
    .avatar__button{
        align-self: flex-end;
        padding: 18px 32px;
    }
    .gallery__grid{
        grid-template-columns: repeat(2, 286px);
    }
    .gallery__card{
        height: auto;
    }
    .gallery__card .card__img{
        height: 350px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    .gallery{
        padding-bottom: 20px;
    }
    .gallery__grid{
        column-gap: 22px;
        padding-bottom: 0;
    }
    .gallery__card{
        width: 268px;
        height: auto;
    }
    .gallery__card .card__img{
        height: 380px;
    }
    .card__title{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
}