.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, sans-serif;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.page-section {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .page {
    padding: 0;
  }
}
