.modal__preview-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  flex-basis: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: start;
  padding: 5.5% 0;
  padding-top: 50px;
}

.modal__preview-title {
  display: block;
  width: fit-content;
  max-width: 485px;
  padding: 4px 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 8px;
}
.modal__preview-exit {
  display: flex;
  justify-content: end;
  width: fit-content;
  align-self: start;
  padding: 0;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  position: relative;
  left: 45px;
  top: 30px;
}
.modal__preview-img-container {
  display: flex;
  flex-direction: column;
}
.modal__preview-img {
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .modal__preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 0;
  }
  .modal__preview-img {
    width: 100%;
    height: 50vh;
  }
  .modal__preview-exit {
    left: 0;
    top: 0;
    bottom: 4px;
  }
  .modal__preview-title {
    max-width: 210px;
  }
}
