.profile {
  max-width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}
.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.profile__content {
  display: flex;
}
.profile__editable-content {
  display: flex;
  align-items: end;
  gap: 20px;
}
.profile__image {
  width: 190px;
  height: 190px;
  border-radius: 10px;
}
.profile__content {
  max-width: 420px;
  min-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 60px;
  line-height: 100%;
}
.profile__name,
.profile__profession {
  padding: 0;
  margin: 0;
  color: #212121;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 260px;
}
.profile__name {
  font-size: 32px;
  line-height: 32px;
}
.profile__profession {
  font-size: 16px;
  line-height: 16px;
  opacity: 70%;
}
.profile__edit {
  width: 107.34px;
  height: 16px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  color: rgb(33, 33, 33);
  padding: 0;
  cursor: pointer;
  opacity: 70%;
}
.profile__edit:hover {
  opacity: 1;
}
.profile__edit .button__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.profile__add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: #212121;
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
  border: none;
}
.profile__add:hover {
  opacity: 80%;
}
.profile__add .button__icon {
  color: rgba(252, 245, 229, 1);
}
.profile__add .button__text {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .card__img {
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .profile__content {
    max-width: 200px;
  }
  .profile__name {
    font-size: 32px;
  }
  .profile__button {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .profile__header {
    min-height: 274px;
    gap: 20px;
    flex-direction: column;
    align-items: normal;
  }
  .profile__image {
    width: 80px;
    height: 80px;
  }
  .profile__content {
    min-height: 102px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
  }
  .profile__editable-content {
    height: 134px;
    flex-direction: column;
    align-items: center;
  }
  .profile__name {
    line-height: 1;
    font-size: 20px;
  }
  .profile__button {
    width: 280px;
  }
}
