@media screen and (max-width:767px){
    .card{
        font-size: 14px;
        min-height: 318px;
    }
    .card__img{
        max-height: 288px;
        max-width: 288px;
    }
    .card__content{
        max-width: 288px;
    }
    .card__title{
        display: flex;
        align-items: end;
        font-size: 16px;
        max-width: 288px;
        
    }
    .card__like-button{
        height: 18px;
    }
}