@media screen and (min-width:768px) and (max-width:1024px){
    .avatar__content{
        width: 200px;
    }
    .avatar__name{
        font-size: 24px;
    }
    .avatar__button{
        padding: 10px;
    }
}